#bad-comments
{
    overflow-y:scroll;
    height: 80vh;
    margin-bottom: 10px;
}

#buttons
{
    margin-bottom: 10px;
}

.bad-comment
{
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}