<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vote Predictor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="col-xs-1 text-center">
                <div class="jumbotron bg-white">
                    <h1>Reddit Comment Vote Predictor <img src="https://i.imgur.com/ws2kAA0.png" width="70px"></h1>
                </div>

                <div id="app">
                    Time of comment: &nbsp;
                    <input type="radio" v-model="commentnow" value="1" id="nowcomment"/>
                    <label for="nowcomment">Comment Now</label>
                    &nbsp;
                    <input type="radio" v-model="commentnow" value="0" id="latercomment"/>
                    <label for="latercomment">Comment On</label>
                    <div v-if="commentnow == 0">
                        Date and time: &nbsp;
                        <input type="datetime-local" v-model="commentdatetime" style="width:260px;"/>
                    </div>
                    <br/>

                    Subreddit: 
                    <select id="subreddits" v-model="subreddit" style="width:300px;">
                        <option value="0">Please select a subreddit</option>
                    </select>
                    <br/>
                    <br/>
                    
                    Post title: &nbsp;
                    <input type="text" v-model="title" placeholder="Write title here" style="width:300px;"/>
                    <br/>
                    <br/>

                    Comment text:<br/>
                    <textarea v-model="comment" placeholder="Write comment here" rows="5" cols="80"></textarea>
                    <div v-if="predicting">
                        <p class="lead">
                            Predicting...
                            <span class="spinner-border text-muted"></span>
                        </p>
                    </div>
                    <div v-else>
                        <div v-if="prediction != null">
                            <p class="lead">
                                I predict this comment would get
                                <span v-if="prediction <= 0">
                                    <span class="badge badge-danger">{{ prediction }}</span>
                                </span>
                                <span v-else>
                                    <span v-if="prediction < 5">
                                        <span class="badge badge-warning">{{ prediction }}</span>
                                    </span>
                                    <span v-else>
                                        <span class="badge badge-success">{{ prediction }}</span>
                                    </span>
                                </span>
                                votes on Reddit.
                            </p>
                        </div>
                        <div v-else>
                            <p class="lead">No prediction made yet.</p>
                        </div>

                        <div v-if="predictionerror">
                            <p class="text-danger">{{ predictionerror }}</p>
                        </div>
                        <div v-else>
                        </div>
                    </div>

                    <div v-if="predictingday">
                        <p class="lead">
                            Getting predictions for the following 24 hours...
                            <span class="spinner-border text-muted"></span>
                        </p>
                    </div>
                    <div v-else>
                        <div v-if="showgraph">
                            <div id="dailyplot" style="width:900px;height:450px;margin: auto;"></div>
                        </div>
                        <div v-else>
                        </div>

                        <div v-if="predictionerrorday">
                            <p class="text-danger">{{ predictionerrorday }}</p>
                        </div>
                        <div v-else>
                        </div>
                    </div>
                    <br>
                    <div v-if="(commentnow != 0 || (commentdatetime != null && commentdatetime != '')) && comment != '' && title != '' && subreddit != 0">
                        <button type="button" v-on:click="predict" class="btn btn-primary">Predict</button>
                    </div>
                    <div v-else>
                        Fill in the fields above to make a prediction
                    </div>
                </div>
            </div>
                
            <br>

            <div class="page-header">
                <h2>How it works</h2>
            </div>

            <p>
                Fill in the details of your comment in the fields above. Choose when your comment is written 
                by choosing to write it now, or selecting a specific date and time. Choose which subreddit 
                your comment would be written to, then enter the title of the post you are commenting on, 
                and finally, enter the comment itself, then hit the "predict" button that appears. A neural 
                network will predict how many votes this comment would get on reddit using the context you 
                have entered. This prediction will then be displayed above. A graph will also be displayed 
                that will contain the predictions over the next 24 hours after the specified time. For the 
                moment, only plain text is supported.
            </p>

            <div class="page-header">
                <h2>About</h2>
            </div>

            <p>
                A neural network was fed thousands of top-level and second-level comments 
                from reddit's most popular subreddits: todayilearned, worldnews, science, 
                pics, gaming, IAmA, and videos. The neural network was trained to predict 
                the number of votes a comment would get.
            </p>

            <p>
                This app was created by reddit user 
                <a href="https://www.reddit.com/user/thecomputerscientist/" target="_blank">thecomputerscientist</a>, 
                and the source code can be found on 
                <a href="https://github.com/reddit-comment-vote-predictor/reddit-comment-vote-predictor" target="_blank">
                    this project's GitHub page
                </a>
            </p>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../js/main.js"></script>
</html>
